<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoomsManagementApp"
        tools:targetApi="31">
        <activity
            android:name=".PlayStoreActivity"
            android:exported="false" />
        <activity
            android:name=".MoreInforWebActivity"
            android:exported="false" />
        <activity
            android:name=".AddTenantActivity"
            android:exported="false" />
        <activity
            android:name=".AddSelfTenantActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateTenantActivity"
            android:exported="false" />
        <activity
            android:name=".TenantActivity"
            android:exported="false" />
        <activity
            android:name=".AddHouseActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateHouseActivity"
            android:exported="false" />
        <activity
            android:name=".HousesActivity"
            android:exported="false" />
        <activity
            android:name=".HousesActivityTwo"
            android:exported="false" />
        <activity
            android:name=".AccountInformationActivity"
            android:exported="false" />
        <activity
            android:name=".signupAdminActivity"
            android:exported="false" />
        <activity
            android:name=".signupTenantActivity"
            android:exported="false" />
        <activity
            android:name=".tenantMainActivity"
            android:exported="false" />
        <activity
            android:name=".loginAdminActivity"
            android:exported="false" />
        <activity
            android:name=".loginTenantActivity"
            android:exported="false" />
        <activity
            android:name=".loginActivity1"
            android:exported="false" />
        <activity
            android:name=".AdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".welcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>